.network > .network-body > .video-body{
    background-color: #404040;
}

.network > .network-body > .grid{
    background-color: #404040;
    width: 100%;
    margin: 0;
    padding: 0;
}
.network > .network-body > .grid > .youtube {
    width: 80%;
    margin: 60px 10%;
}

.network > .network-body > .book > .body {
    margin-top: 0;
}
